name: Publish

on:
  push:
    branches:
      - main

env:
  GITHUB_TOKEN: ${{ github.token }}
  GITHUB_USERNAME: x-access-token

jobs:
  prepare_tag:
    name: Setup Tag
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.bump_version.outputs.new_tag }}
    steps:
      - uses: actions/checkout@v6

      - name: Bump version and push tag
        id: bump_version
        uses: anothrNick/github-tag-action@1.75.0
        env:
          DEFAULT_BUMP: patch
          DRY_RUN: true

  package:
    name: Package and Publish
    runs-on: ubuntu-latest
    needs: [prepare_tag]
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v6

      - name: Cache SDKMAN
        uses: actions/cache@v4
        with:
          path: ~/.sdkman
          key: sdkman-${{ runner.os }}-${{ hashFiles('.sdkmanrc') }}

      - name: Install SDKMAN
        uses: sdkman/sdkman-action@b1f9b696c79148b66d3d3a06f7ea801820318d0f

      # INFO: Tell Gradle which JDK to use *regardless* of what happens to JAVA_HOME
      - name: Point Gradle at the SDKMAN JDK
        run: echo "JAVA_HOME=$HOME/.sdkman/candidates/java/current" >> $GITHUB_ENV

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Publish library ${{ needs.prepare_tag.outputs.VERSION }}
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: ./gradlew -Pversion=${{ needs.prepare_tag.outputs.VERSION }} publish

  release:
    name: Release ${{ needs.prepare_tag.outputs.VERSION }}
    runs-on: ubuntu-latest
    needs: [prepare_tag, package]
    permissions:
      contents: write
    steps:
      - name: Create Tag
        uses: actions/github-script@v8
        with:
          github-token: ${{ github.token }}
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/${{ needs.prepare_tag.outputs.VERSION }}",
              sha: context.sha
            })

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build Changelog
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v6

      - name: Create Release
        uses: actions/github-script@v8
        env:
          RELEASE_BODY: ${{ steps.build_changelog.outputs.CHANGELOG }}
        with:
          github-token: ${{ github.token }}
          script: |
            const changelog = process.env.RELEASE_BODY;
            github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: "${{ needs.prepare_tag.outputs.VERSION }}",
              name: "${{ needs.prepare_tag.outputs.VERSION }}",
              body: changelog,
              generate_release_notes: true
            })
